<html>
	<head>
		<title>userlogin</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 	
	</head>

  <body>
		<div id="logo">
			<table>
				<tr>
					<td>
						<img src="/static/logo.png" alt="wiTube">
					</td>
				</tr>
			</table>

		</div>

		<div id="page-content">

		<h4>{{message}}</h4>

			<form action="" method="post">
				<table>
					<tr>
						<td>Username:</td>
						<td><input type="text"  name="username"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password"></td>
					<tr>
					<tr>
						<td></td>
						<td align="right"><input type="submit" value="Login"></td>
					</tr>
				</table>
			</form>
			
		</div>


	</body>
</html>
