{% extends "base.html" %}

{% block content %}

<div id="page-content">

	<h4>{{message}}</h4>

	<form action="{{ url_for('home') }}">
		<table>
		<tr>
			<td>
				<strong>Username</strong>
			</td>
			<td>
				<strong>Password</strong>
			</td>
		</tr>
		
		{% for row in rows %}
		<tr>
			<td>
				{{row[1]}}
			</td>
			<td>
				{{row[2]}}
			</td>
		</tr>
		{% endfor %}
		<tr>
		<td></td>
		<td align="right"><input type="submit" value="Back to menu"></td>
		</tr>
		</table>
	</form>
		
</div>

{% endblock %}
